.cross_left_bottom::after {
  content: "";
  position: absolute;
  left: -45px;
  bottom: -25px;
  width: 70%;
  border: 2px solid #000;
  transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
  transform: translateX(-50%);
  animation: test_cross_x 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
@keyframes test_cross_x {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes test_cross_y {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.cross_left_bottom::before {
  content: "";
  position: absolute;
  left: -25px;
  bottom: -45px;
  height: 70%;
  border: 2px solid #000;
  transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
  transform: translateY(100%);
  animation: test_cross_y 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.cross_left_top::after {
  content: "";
  position: absolute;
  left: -45px;
  top: -25px;
  width: 70%;
  border: 2px solid #000;
}
.cross_left_top::before {
  content: "";
  position: absolute;
  left: -25px;
  top: -45px;
  height: 70%;
  border: 2px solid #000;
}
.cross_right_bottom::after {
  content: "";
  position: absolute;
  right: -45px;
  bottom: -25px;
  width: 70%;
  border: 2px solid #000;
}
.cross_right_bottom::before {
  content: "";
  position: absolute;
  right: -25px;
  bottom: -45px;
  height: 70%;
  border: 2px solid #000;
}
.cross_right_top::after {
  content: "";
  position: absolute;
  right: -45px;
  top: -25px;
  width: 70%;
  border: 2px solid #000;
}
.cross_right_top::before {
  content: "";
  position: absolute;
  right: -25px;
  top: -45px;
  height: 70%;
  border: 2px solid #000;
}